html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --rgb-one: rgb(51, 53, 69);

  --hex-two: #fff;
  --rgb-two: rgb(255, 255, 255);

  --rgb-three: rgb(248, 68, 100);
}
